{% macro subTree(loopPage, project, breadCrumb) %}
    {% set isActive = (loopPage.getUri in breadCrumb|keys) %}
    <li class="nav-item">
        <a class="nav-link{% if isActive %} active{% endif %}"
           href="{{ project.getUrl(loopPage.getUri) }}">{{ loopPage.getNavName }}</a>
        {% if loopPage.hasChildren and isActive %}
            <ul class="nav nav-pills flex-column">
                {% import _self as nav %}
                {% for child in project.getChildrenOf(loopPage) %}
                    {{ nav.subTree(child, project, breadCrumb) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro subTree %}
{% import _self as nav %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.getPageTitle }} | {{ project.getName }}</title>
    <meta name="description" content="{{ page.getDescription }}">
    <meta name="keywords" content="{{ page.getTags|join(', ') }}">
    <meta name="HandheldFriendly" content="True"/>
    <meta name="geo.region" content="DE-SN"/>
    <meta name="geo.placename" content="Dresden"/>
    <meta name="geo.position" content="51.052088;13.741672"/>
    <meta name="ICBM" content="51.052088, 13.741672"/>
    <meta name="twitter:site" content="@twitter_url@">
    <meta name="twitter:creator" content="@twitter_handle@">
    <script type="application/ld+json">{% spaceless %}
{
  "@context" : "http://schema.org",
  "@type": "Person",
  "name": "{{ project.getName }}",
  "image": "{{ project.getUrl(page.getImageUrl) }}",
  "url": "{{ project.getBaseUrl }}",
  "sameAs" : [
      "@github_url@"
    ]
  }
}{% endspaceless %}</script>
    <meta property="article:author" content="@github_url@"/>
    <meta property="article:publisher" content="@twitter_url@"/>
    <link rel="apple-touch-icon" sizes="57x57" href="@baseUrl@/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="@baseUrl@/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="@baseUrl@/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="@baseUrl@/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="@baseUrl@/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="@baseUrl@/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="@baseUrl@/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="@baseUrl@/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="@baseUrl@/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="@baseUrl@/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="@baseUrl@/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="@baseUrl@/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="@baseUrl@/favicons/favicon-16x16.png">
    <link rel="manifest" href="@baseUrl@/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="@baseUrl@/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="@baseUrl@/css/theme.css" rel="stylesheet">
    <link href="@baseUrl@/css/prism.css" rel="stylesheet">
    <script defer src="@baseUrl@/js/prism.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <div id="brand-img" class="row justify-content-md-center">
                <div class="col-sm-8">
                    <img src="@baseUrl@/img/phpmq-logo-500x500.png" class="img-fluid rounded">
                </div>
            </div>

            <br>

            <div id="brand-img" class="row justify-content-md-center">
                <div class="col-sm-11">
                    <form class="form-inline">
                        <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Search"
                               aria-label="Search" id="search-input">
                        <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>

            <br>

            <ul class="nav nav-pills flex-column">
                {% for loopPage in project.getPageConfigsAtLevel(1) %}

                    {{ nav.subTree(loopPage, project, breadCrumb) }}

                {% endfor %}
            </ul>

        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

            {% block content %}

                <h1>{{ page.getPageTitle }}</h1>

                <p>
                    {{ page.getDescription }}
                </p>

                {{ content|raw }}

            {% endblock %}

        </main>

        <footer class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="row justify-content-between">
                <div class="col-4">
                    @website_version@
                    &middot;
                    Generated by
                    <a href="https://github.com/icehawk/static-page-generator" target="_blank">
                        IceHawk SPG
                    </a>
                </div>
                <div class="col-6 text-right">
                    <a href="https://github.com/php-mq/website/blob/master/LICENSE" target="_blank">
                        Under MIT License
                    </a>
                    &middot;
                    Copyright &copy; 2017-2018 Holger Woltersdorf
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</body>
</html>
